@import 'tailwindcss';
@import './rich-content.css';

@source "./app/**/*.{vue,js,ts,jsx,tsx}";
@source "./pages/**/*.vue";
@source "./layouts/**/*.vue";
@source "./components/**/*.{vue,js,ts,jsx,tsx}";
@source "./composables/**/*.{js,ts}";
@source "./utils/**/*.{js,ts}";

.selector::-webkit-scrollbar {
  display: none;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease;
}

.page-enter-from {
  opacity: 0;
  transform: translateX(8px);
}

.page-leave-to {
  opacity: 0;
  transform: translateX(-8px);
}
